*{
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Header start */
header{
  background-color: #057061;
  margin-top: -30px;
}

header img{
  float: left;
  width: 160px;
  margin-top: 10px;
  margin-left: 10%;
}

li{
  list-style: none;
}


a:hover{
  background-color: white;
  color: #057061;
}

nav{
  width: 595px;
  margin: auto;
}
ul{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

a{
  text-decoration: none;
  font-size: 20px;
  color: white;
  text-align: center;
  display: inline-block;
  width: 150px;
  height: 35px;
  padding-top: 9px;
  transition: all .3s ease-in;
  margin-top: 65px;
}

/* header end */

/* game preview start */
main{
  width: 80%;
  margin: auto;
}
main div.preview{
  width: 700px;
  margin: auto;
}
main div.preview img{
  width: 700px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 30px;
}

main div.preview a{
  display: block;
  background-color: #057061;
  width: 300px;
  height: 30px;
  padding-top: 5px;
  border: solid 2px white;
  border-radius: 20px;
  margin-top: -100px;
  position: relative;
  margin-left: 195px;
}
/* game preview end */

/* 3-col start */
div.regrouping{
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}

.col3{
  width: 30%;
  float: left;
}
.clearBoth{
  clear: both;
}
/* 3-col end */

/* game description start*/

main div.game h2, main div.game p{
  text-align: left;
}
main div.game h2{
  margin-top: 30px;
  margin-bottom: 30px;
}
main div.game p{
  width: 700px;
  float: left;
  margin-left: 50px;
}
main div.game img{
  width: 160px;
}

/* game description end*/


/* main end */
footer{
  margin-top: 20px;
  background-color: #0E1111;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer span {
  display: block;
  color: white;
  margin-top: 10px;
}
