#word{
  visibility: hidden;
  display: none;
}
body{
  background: #2c3e50;
  width: 960px;
  margin:0 auto;
}
input {
width: 900px;
height: 30px;
align-items: flex-end;

}
img{
  height: 85%;
  width: 1000px;
}
.game{
  visibility: hidden;
  display: none;
  width: 950px;
  height: 500px;
  overflow: hidden;
  border: solid black 1px;
  margin: 50px;
  margin-left: 0;


}

.menu{
  width: 960px;
  height: 700px;
  background-color: #bdc3c7;
  position: relative;
  box-shadow: -1px 0px 149px -9px rgba(11,94,219,1);
  border-radius: 10px;


}

ul {
  text-align: center;
  list-style-type: none;
  list-style-image: url("");
  list-style-position: inherit;
  padding-top: 200px;
}

li {
  padding: 18px;
  margin: 18px;
  color: #0b5edb;
  font-size: 40px;
}
li:hover{
  background-color:#2c3e50;
  color: #bdc3c7;
  transition: all 10ms ease-in;
}

<<<<<<< HEAD





.tech-slideshow {
  height: 450px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;

  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 200px;
  width: 2526px;
  background: url("../images/jungle.png");
  background-size: 32%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;


}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
=======
#word{
  color: white;
  position: absolute;
  left: 80%;
  margin-top: 10%;
  transition: left 0s ease-out;
>>>>>>> caa520b0162c5ed08582b2766e8dae47f7873356
}
